@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

/* ------------------------------------------------ 1366x768 (notebook) ----------------------------------------------- */
@media ( max-width : 800px) {
	#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
		border: 0;
		box-sizing: border-box;
		display: block;
		line-height: 1;
		list-style: none;
		margin: 0;
		moz-box-sizing: border-box;
		padding: 0;
		position: relative;
		webkit-box-sizing: border-box;
	}
	#cssmenu {
		color: #ffffff;
		font-family: Raleway, sans-serif;
		width: 220px;
		padding-top: 50px;
	}
	#cssmenu ul ul {
		display: none;
	}
	#cssmenu>ul>li.active>ul {
		display: block;
	}
	.align-right {
		float: right;
	}

	/* Menus */
	#cssmenu>ul>li>a {
		background: #3ab4a6;
		color: #ffffff;
		cursor: pointer;
		font-size: 16px;
		o-transition: color .2s ease;
		padding: 4px 12px;
		text-decoration: none;
		transition: color .2s ease;
		webkit-transition: color .2s ease;
		z-index: 2;
	}
	#cssmenu>ul>li>a:hover {
		color: #d8f3f0;
	}
	#cssmenu ul>li.has-sub>a:after {
		background: #ffffff;
		content: "";
		display: block;
		height: 10px;
		moz-transition: all 0.1s ease-out;
		ms-transition: all 0.1s ease-out;
		o-transition: all 0.1s ease-out;
		position: absolute;
		right: 26px;
		top: 19px;
		transition: all 0.1s ease-out;
		webkit-transition: all 0.1s ease-out;
		width: 2px;
		z-index: 5;
	}
	#cssmenu ul>li.has-sub>a:before {
		background: #ffffff;
		content: "";
		display: block;
		height: 2px;
		moz-transition: all 0.1s ease-out;
		ms-transition: all 0.1s ease-out;
		o-transition: all 0.1s ease-out;
		position: absolute;
		right: 22px;
		top: 23px;
		transition: all 0.1s ease-out;
		webkit-transition: all 0.1s ease-out;
		width: 10px;
	}
	#cssmenu ul>li.has-sub.open>a:after, #cssmenu ul>li.has-sub.open>a:before
		{
		moz-transform: rotate(45deg);
		ms-transform: rotate(45deg);
		o-transform: rotate(45deg);
		transform: rotate(45deg);
		webkit-transform: rotate(45deg);
	}

	/* Sub-menus */
	#cssmenu ul ul li a {
		background: #49505a;
		color: #dddddd;
		cursor: pointer;
		font-size: 14px;
		o-transition: color .2s ease;
		padding: 2px 22px;
		text-decoration: none;
		transition: color .2s ease;
		webkit-transition: color .2s ease;
		z-index: 2;
	}
	#cssmenu ul ul ul li a {
		padding-left: 32px;
	}
	#cssmenu ul ul li a:hover {
		color: #ffffff;
	}
	#cssmenu ul ul>li.has-sub>a:after {
		background: #dddddd;
		right: 26px;
		top: 16px;
	}
	#cssmenu ul ul>li.has-sub>a:before {
		background: #dddddd;
		top: 20px;
	}
}

/* ------------------------------------------------ 1366x768 (notebook) ----------------------------------------------- */
@media ( min-width : 1300px) {
	#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
		border: 0;
		box-sizing: border-box;
		display: block;
		line-height: 1;
		list-style: none;
		margin: 0;
		moz-box-sizing: border-box;
		padding: 0;
		position: relative;
		webkit-box-sizing: border-box;
	}
	#cssmenu {
		color: #ffffff;
		font-family: Raleway, sans-serif;
		width: 220px;
		padding-top: 50px;
	}
	#cssmenu ul ul {
		display: none;
	}
	#cssmenu>ul>li.active>ul {
		display: block;
	}
	.align-right {
		float: right;
	}

	/* Menus */
	#cssmenu>ul>li>a {
		background: #3ab4a6;
		color: #ffffff;
		cursor: pointer;
		font-size: 16px;
		o-transition: color .2s ease;
		padding: 4px 12px;
		text-decoration: none;
		transition: color .2s ease;
		webkit-transition: color .2s ease;
		z-index: 2;
	}
	#cssmenu>ul>li>a:hover {
		color: #d8f3f0;
	}
	#cssmenu ul>li.has-sub>a:after {
		background: #ffffff;
		content: "";
		display: block;
		height: 10px;
		moz-transition: all 0.1s ease-out;
		ms-transition: all 0.1s ease-out;
		o-transition: all 0.1s ease-out;
		position: absolute;
		right: 26px;
		top: 19px;
		transition: all 0.1s ease-out;
		webkit-transition: all 0.1s ease-out;
		width: 2px;
		z-index: 5;
	}
	#cssmenu ul>li.has-sub>a:before {
		background: #ffffff;
		content: "";
		display: block;
		height: 2px;
		moz-transition: all 0.1s ease-out;
		ms-transition: all 0.1s ease-out;
		o-transition: all 0.1s ease-out;
		position: absolute;
		right: 22px;
		top: 23px;
		transition: all 0.1s ease-out;
		webkit-transition: all 0.1s ease-out;
		width: 10px;
	}
	#cssmenu ul>li.has-sub.open>a:after, #cssmenu ul>li.has-sub.open>a:before
		{
		moz-transform: rotate(45deg);
		ms-transform: rotate(45deg);
		o-transform: rotate(45deg);
		transform: rotate(45deg);
		webkit-transform: rotate(45deg);
	}

	/* Sub-menus */
	#cssmenu ul ul li a {
		background: #49505a;
		color: #dddddd;
		cursor: pointer;
		font-size: 14px;
		o-transition: color .2s ease;
		padding: 6px 22px;
		text-decoration: none;
		transition: color .2s ease;
		webkit-transition: color .2s ease;
		z-index: 2;
	}
	#cssmenu ul ul ul li a {
		padding-left: 32px;
	}
	#cssmenu ul ul li a:hover {
		color: #ffffff;
	}
	#cssmenu ul ul>li.has-sub>a:after {
		background: #dddddd;
		right: 26px;
		top: 16px;
	}
	#cssmenu ul ul>li.has-sub>a:before {
		background: #dddddd;
		top: 20px;
	}
}